<header>
  <div class="header_main">
    <button class="mobile_menu">MENU</button>
    <h1>D'madera</h1>
    <search-bar></search-bar>
    <div class="main_section">
      <a href="" class="cart">
        <img src="../assets/cart.svg" alt="Carrito">
      </a>
      <button class="user"></button>
    </div>
  </div>
  <nav class="header_nav">
    <ul class="departments">
      <li><a href="">Salas</a></li>
      <li><a href="">Comedores</a></li>
      <li><a href="">Recámaras</a></li>
      <li><a href="">Cocinas</a></li>
      <li><a href="">Decoración</a></li>
      <li><a href="">Otros muebles</a></li>
      <li><a href="">Ofertas</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
</footer>