@import "src/global_var"
header
    position: fixed
    top: 0
    width: 100%
    background-color: $white
    z-index: 100

    .header_main
        display: flex
        justify-content: space-between
        align-items: center 
        padding: 15px 20px
        color: $brown

        h1
            a
                color: $brown

        .mobile_menu
            height: 35px
            width: 35px

        @media only screen and (max-width: $tablet_breakpoint)
            justify-content: space-around
                    
        @media only screen and (max-width: $phone_breakpoint)
            justify-content: space-between

            h1 
                display: none

        .main_section
            display: flex
            align-items: baseline

            .cart
                position: relative
                height: 40px 
                width: 40px
                margin-right: 30px
                transition: $time

                &:hover
                    filter: brightness(1.2)

                .cart_count
                    position: absolute
                    top: 0
                    right: -5px
                    height: 20px
                    width: 20px
                    border-radius: 50%
                    background-color: #ff822f
                    color: $white
                    text-align: center

            .user
                height: 40px 
                width: 40px
                border: 1px solid $brown
                border-radius: 50% 

            @media only screen and (max-width: $tablet_breakpoint)
                .user
                    display: none

                .cart
                    margin: 0

        search-bar
            width: 50%

    .header_nav
        padding: 10px 15px
        background-color: $brown

        @media only screen and (max-width: $tablet_breakpoint)
            display: none

        .departments
            display: flex
            justify-content: space-evenly

            li a
                display: flex
                color: $white
                transition: opacity $time

                &:hover
                    opacity: 0.8

            .department_icon
                height: 20px
                width: 20px
                margin-right: 5px


.mobile_aside
    position: fixed
    height: 100vh
    width: 70vw
    padding: 76px 37px 20px 37px
    background: $brown
    z-index: 10
    animation: slideRight 500ms ease-out

    @media only screen and (max-width: $phone_breakpoint)
        width: 100vw

    .account
        display: flex
        justify-content: space-between
        align-items: center
        margin: 12px 0

        @media only screen and (max-width: $phone_breakpoint)
            justify-content: flex-start

        .user
                height: 55px 
                width: 55px
                border: 1px solid $white
                border-radius: 50%

                @media only screen and (max-width: $phone_breakpoint)
                    margin-right: 10px

        .account_option
            @media only screen and (max-width: $phone_breakpoint)
                display: flex
                flex-direction: column
            a
                margin: 0 10px
                font-size: 1em
                color: $white

                @media only screen and (max-width: $phone_breakpoint)
                    margin: 5px

    .departments
        flex-direction: column
        margin: 20px 0

        li
            display: flex
            align-items: center
            margin: 35px 0 
            color: $white

        .department_icon
                width: 40px
                margin-right: 10px

@keyframes slideRight
    0%
        transform: translateX(-100%)
    100%
        transform: translateX(0)        