<header>
  <div class="header_main">
    <button class="mobile_menu" #mobileMenu [hidden]="innerWidth > tabletBreakpoint">
      <img src="../assets/menu.svg" alt="Menu">
    </button>
    <h1><a [routerLink]="'/'">D'muebles</a></h1>
    <search-bar [isFocused]="searchFocused" id="searchbar"></search-bar>
    <div class="main_section">
      <a class="cart" [routerLink]="['/','car']">
        <img src="../assets/cart.svg" alt="Carrito">
        <div class="cart_count" *ngIf="cartCount > 0" [class.mini]="cartCount > 9 && cartCount < 100">
          {{(cartCount > 99) ? "+" : cartCount}}
        </div>
      </a>
      <button class="user"></button>
    </div>
  </div>
  <nav class="header_nav">
    <ul class="departments">
      <li>
        <a [routerLink]="['/','search', 1]"><div class="department_icon"><img src="../assets/sala_icon.svg"></div>Salas</a>
      </li>
      <li>
        <a [routerLink]="['/','search', 2]"><div class="department_icon"><img src="../assets/comedor_icon.svg"></div>Comedores</a>
      </li>
      <li>
        <a [routerLink]="['/','search', 3]"><div class="department_icon"><img src="../assets/recamara_icon.svg"></div>Recámaras</a>
      </li>
      <li>
        <a [routerLink]="['/','search', 4]"><div class="department_icon"><img src="../assets/cocina_icon.svg"></div>Cocinas</a>
      </li>
      <li>
        <a [routerLink]="['/','search', 5]"><div class="department_icon"><img src="../assets/deco_icon.svg"></div>Decoración</a>
      </li>
      <li>
        <a [routerLink]="['/','search', 6]"><div class="department_icon"><img src="../assets/varios_icon.svg"></div>Varios</a>
      </li>
      <li>
        <a [routerLink]="['/','search', 7]"><div class="department_icon"><img src="../assets/oferta_icon.svg"></div>Ofertas</a>
      </li>
    </ul>
  </nav>
</header>
<aside class="mobile_aside" *ngIf="menuActive && innerWidth <= tabletBreakpoint">
  <div class="account">
    <div class="user"></div>
    <div class="account_option">
      <a>Registrarme</a>
      <a>Ingresar a mi cuenta</a>
    </div>
  </div>
  <hr>
  <ul class="departments">
    <li [routerLink]="['/','search', 1]" (click)="switchMenu()">
      <div class="department_icon"><img src="../assets/sala_icon.svg"></div>Salas
    </li>
    <li [routerLink]="['/','search', 2]" (click)="switchMenu()">
      <div class="department_icon"><img src="../assets/comedor_icon.svg"></div>Comedores
    </li>
    <li [routerLink]="['/','search', 3]" (click)="switchMenu()">
      <div class="department_icon"><img src="../assets/recamara_icon.svg"></div>Recámaras
    </li>
    <li [routerLink]="['/','search', 4]" (click)="switchMenu()">
      <div class="department_icon"><img src="../assets/cocina_icon.svg"></div>Cocinas
    </li>
    <li [routerLink]="['/','search', 5]" (click)="switchMenu()">
      <div class="department_icon"><img src="../assets/deco_icon.svg"></div>Decoración
    </li>
    <li [routerLink]="['/','search', 6]" (click)="switchMenu()">
      <div class="department_icon"><img src="../assets/varios_icon.svg"></div>Varios
    </li>
    <li [routerLink]="['/','search', 7]" (click)="switchMenu()">
      <div class="department_icon"><img src="../assets/oferta_icon.svg"></div>Ofertas
    </li>
  </ul>
</aside>
<router-outlet></router-outlet>
<footer>
  <ul class="more_options">
    <li><a [routerLink]="['/','about']">Quiénes somos</a></li>
    <li><a [routerLink]="['/','about']">Sucursales</a></li>
    <li><a [routerLink]="['/','about']">Contacto</a></li>
    <li><a [routerLink]="['/','about']">Preguntas frecuentes</a></li>
  </ul>
  <div class="social_media">
    <a [routerLink]="['/','about']"><img src="./assets/facebook.svg" alt="GitHub"></a>
    <a [routerLink]="['/','about']"><img src="./assets/twitter.svg" alt="GitHub"></a>
    <a [routerLink]="['/','about']"><img src="./assets/github.svg" alt="GitHub"></a>
  </div>
  <div class="info">
    <p>{{"- D'muebles " + currentYear}}</p>
    <p>Creado con 🤍 por Diego EM</p>
  </div>
</footer>