<header>
  <div class="header_main">
    <button class="mobile_menu" #mobileMenu [hidden]="innerWidth > tabletBreakpoint">
      <img src="../assets/menu.svg" alt="Menu">
    </button>
    <h1>D'madera</h1>
    <search-bar [isFocused]="searchFocused" id="searchbar"></search-bar>
    <div class="main_section">
      <a href="" class="cart">
        <img src="../assets/cart.svg" alt="Carrito">
        <div class="cart_count">1</div>
      </a>
      <button class="user"></button>
    </div>
  </div>
  <nav class="header_nav">
    <ul class="departments">
      <li><a href=""><div class="department_icon"><img src="../assets/sala_icon.svg"></div>Salas</a></li>
      <li><a href=""><div class="department_icon"><img src="../assets/comedor_icon.svg"></div>Comedores</a></li>
      <li><a href=""><div class="department_icon"><img src="../assets/recamara_icon.svg"></div>Recámaras</a></li>
      <li><a href=""><div class="department_icon"><img src="../assets/cocina_icon.svg"></div>Cocinas</a></li>
      <li><a href=""><div class="department_icon"><img src="../assets/deco_icon.svg"></div>Decoración</a></li>
      <li><a href=""><div class="department_icon"><img src="../assets/varios_icon.svg"></div>Varios</a></li>
      <li><a href=""><div class="department_icon"><img src="../assets/oferta_icon.svg"></div>Ofertas</a></li>
    </ul>
  </nav>
</header>
<aside class="mobile_aside" *ngIf="menuActive && innerWidth <= tabletBreakpoint">
  <div class="account">
    <div class="user"></div>
    <div class="account_option">
      <a>Registrarme</a>
      <a>Ingresar a mi cuenta</a>
    </div>
  </div>
  <hr>
  <ul class="departments">
    <li><a href=""><div class="department_icon"><img src="../assets/sala_icon.svg"></div>Salas</a></li>
    <li><a href=""><div class="department_icon"><img src="../assets/comedor_icon.svg"></div>Comedores</a></li>
    <li><a href=""><div class="department_icon"><img src="../assets/recamara_icon.svg"></div>Recámaras</a></li>
    <li><a href=""><div class="department_icon"><img src="../assets/cocina_icon.svg"></div>Cocinas</a></li>
    <li><a href=""><div class="department_icon"><img src="../assets/deco_icon.svg"></div>Decoración</a></li>
    <li><a href=""><div class="department_icon"><img src="../assets/varios_icon.svg"></div>Varios</a></li>
    <li><a href=""><div class="department_icon"><img src="../assets/oferta_icon.svg"></div>Ofertas</a></li>
  </ul>
</aside>
<router-outlet></router-outlet>
<footer>
</footer>