<main>
    <section class="banner"></section>
    <section class="popular">
        <h2>Populares</h2>
        <hr>
        <div class="content">
            <big-card [id]="12"></big-card>
            <big-card [id]="24" [reverse]="true"></big-card>
            <big-card [id]="18"></big-card>
            <big-card [id]="8" [reverse]="true"></big-card>
        </div>
    </section>
    <section class="offer">
        <h2>Ofertas</h2>
        <hr>
        <div class="content">
            <small-card [id]="8"></small-card>
            <small-card [id]="12"></small-card>
            <small-card [id]="9"></small-card>
            <small-card [id]="18"></small-card>
        </div>
    </section>
    <section class="deco"></section>
    <section class="benefits"></section>
</main>
