@import  "src/global_var"
.card
    position: relative
    display: inline-block
    height: 350px
    width: 300px
    margin: 10px
    border-radius: 5px
    border: 1px solid $card_lightgray
    overflow: hidden
    transition: all 200ms

    .figure
        height: 60%
        width: 100%
        background-color: $card_lightgray
        overflow: hidden

        img
            height: 100%

    .description
        padding: 10px 15px

        .product
            margin-bottom: 10px
            font-size: 1.2em
            color: $brown

        .normal
            margin-bottom: 5px
            font-size: 0.9em
            color: $card_darkgray
            text-decoration-line: line-through
            text-decoration-color: $card_darkgray

        .offer
            font-size: 1.1em
            color: $card_red

    .offer_tag
        position: absolute
        top: 0
        right: 0
        padding: 5px 7px
        background-color: $card_red
        color: $white
        font-weight: 600

    &:hover
        cursor: pointer
        box-shadow: $drop_shadow
        