<div class="card" *ngIf="productDetails">
    <div class="figure">
        <a [routerLink]="['/','product',productDetails?.id]">
            <img [src]="productDetails?.img" [alt]="productDetails?.producto" [title]="productDetails?.producto">
        </a>
    </div>
    <div class="description">
        <a [routerLink]="['/','product',productDetails?.id]">
            <p class="product">{{productDetails?.producto}}</p>
            <div *ngIf="productDetails?.oferta !== null; else Precio">
                <p class="normal">{{"De: $" + productDetails!.precio}}</p>
                <p class="offer">{{"A: $" + (productDetails!.oferta * productDetails!.precio).toFixed(2)}}</p>
            </div>
            <ng-template #Precio>
                <div>
                    <p class="offer">{{"Precio: $" + productDetails!.precio}}</p>
                </div>
            </ng-template>
        </a>
    </div>
</div>