<div class="card">
    <div class="figure">
        <a href="">
            <img [src]="productDetails?.img" [alt]="productDetails?.producto" [title]="productDetails?.producto">
        </a>
    </div>
    <div href="" class="description">
        <a href="">
            <p class="product">{{productDetails?.producto}}</p>
            <div *ngIf="productDetails?.oferta; else Precio">
                <p class="normal">{{"De: $" + productDetails!.precio}}</p>
                <p class="offer">{{"A: $" + (productDetails!.oferta * productDetails!.precio)}}</p>
            </div>
            <ng-template #Precio>
                <div>
                    <p class="offer"></p>
                </div>
            </ng-template>
        </a>
    </div>
</div>