<div class="card" [routerLink]="['/','product',productDetails?.id]" *ngIf="productDetails">
    <div class="figure">
            <img [src]="productDetails?.imgProducto" [alt]="productDetails?.producto" [title]="productDetails?.producto">
    </div>
    <div class="description">
            <p class="product">{{productDetails?.producto}}</p>
            <div *ngIf="productDetails?.oferta !== null; else Precio">
                <p class="normal">{{"De: $" + productDetails!.precio}}</p>
                <p class="offer">{{"A: $" + productDetails!.precioOferta}}</p>
            </div>
            <ng-template #Precio>
                <div>
                    <p class="offer">{{"Precio: $" + productDetails!.precio}}</p>
                </div>
            </ng-template>
    </div>
    <div class="offer_tag" *ngIf="productDetails.oferta">
        {{"%" + productDetails.oferta * 100}}
    </div>
</div>