<main>
    <h1>Hey!</h1>
    <p id="first_message">Este es un proyecto realizado por Diego EM</p>
    <section>
        <h2>Tecnologías utilizadas</h2>
        <hr>
        <div class="technologies">
            <div class="frontend">
                <span>Frontend</span>
                <div>
                    <img src="./assets/angular.svg" alt="Angular 12">
                    <img src="./assets/sass.svg" alt="Sass">
                </div>
            </div>
            <div class="backend">
                <span>Backend</span>
                <div>
                    <img src="./assets/php.svg" alt="PHP">
                    <img src="./assets/mysql.svg" alt="MySql">
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2>Notas adicionales</h2>
        <hr>
        <p>Este es solo una página de muestra, los productos mostrados no se encuentran en stock.</p>
        <p>Las imágenes de cada producto mostrado en esta página son solo imágenes de prueba cuyo propósito
            es mostrar los diferentes diseños y vistas de la página.
        </p>
    </section>
    <section>
        <h2>Si te ha gustado mi proyecto...</h2>
        <hr>
        <p>Quizás puedas darte una visita al <a href="https://github.com/Diego-EM/Dmuebles-ecommerce">repositorio</a>
            del mismo y tal vez ver los otros proyectos en los que he trabajado, si lo consideras puedes darme un ❤️ a mi proyecto.
        </p>
        <p id="last_message">Gracias por tu visita! 👋</p>
    </section>
</main>
